<div class="container">
  <div class="container__form">
    <app-add-article [editDictionary]="editDictionary"
                      (addEditedArticleEmitter)="addEditedArticle($event)" 
                      (createArticleEmitter)="createArticle($event)">
    </app-add-article>
  </div>
  <div class="container__articles">
    <app-existent-articles [articles]="articles" 
                            (showAbstractEmitter)="showAbstract($event)"
                            (removeArticleEmitter)="removeArticle($event)"
                            (editArticleEmitter)="editArticle($event)">
    </app-existent-articles>
  </div>
  <br>
</div>
