<div class="container">
  <div class="container__form">
    <app-add-article
                      (createArticleEmitter)="createArticle($event)"
    >
    </app-add-article>
  </div>
  <div class="container__articles">
    <app-existent-articles 
                          [articleList]="articles"
                          (editArticleEmitter)="editArticle($event)"
                          (addEditedArticleEmitter)="addEditedArticle($event)"
                          (showAbstractEmitter)="showAbstract($event)"
                          (removeArticleEmitter)="removeArticle($event)"
    >
    </app-existent-articles>
  </div>
  <br>
</div>
